.ellipse_15 {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 16px;
  height: 18.22px;
  left: 40px;
  top: 34.17px;
  border: 2px solid rgba(255, 180, 0, 0.8);
  border-radius: 50%;
  z-index: 5;
}

.ellipse_12 {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 16px;
  height: 18.22px;
  left: 520px;
  top: 59.23px;
  border: 2px solid rgba(5, 255, 0, 0.8);
  border-radius: 50%;
  z-index: 5;
}

.ellipse_16 {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 16px;
  height: 18.22px;
  left: 88px;
  top: 451.64px;
  border: 2px solid rgba(5, 255, 0, 0.8);
  border-radius: 50%;
  z-index: 5;
}

.ellipse_13 {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 16px;
  height: 18.22px;
  left: 557.86px;
  top: 432.77px;
  border: 2px solid rgba(255, 180, 0, 0.8);
  border-radius: 50%;
  z-index: 5;
}

.rectangle_51 {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 16.45px;
  height: 17.82px;
  right: -855.44px;
  top: 79.34px;
  border: 2px solid rgba(255, 180, 0, 0.8);
  transform: matrix(0.87, 0.49, -0.39, 0.92, 0, 0);
  z-index: 5;
}

.rectangle_52 {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 16.45px;
  height: 17.82px;
  left: 373.8px;
  top: 379.28px;
  border: 2px solid rgba(0, 71, 255, 0.8);
  transform: matrix(0.87, 0.49, -0.39, 0.92, 0, 0);
  z-index: 5;
}

.polygon_1 {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 16px;
  height: 18.22px;
  left: 857px;
  top: 400.34px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 10px solid red;
  z-index: 5;
}

body {
  background-color: #F0F0F6;
}

.main {
  margin: 0 auto;
  max-width: 970px;
  display: flex;
  flex-flow: column wrap;
}

.main_menu {
  max-width: 970px;
  margin: 0 15px;
  margin-top: 20px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  top: 0;
}
.main_menu .main_menu_col-1 {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 105.95px;
}
.main_menu .menu_title {
  margin: 0px;
  max-width: 500px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 123.6%;
  color: #2B2B2B;
}
.main_menu .menu_title .colorful_text {
  color: #FFB400;
}
.main_menu .menu_text {
  width: 424px;
  height: 100.23px;
  left: 60px;
  top: 260.82px;
  margin: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
}
.main_menu .your_image {
  width: 325.72px;
  height: auto;
  left: 586.68px;
  top: 9.11px;
}
.main_menu .hire_me {
  background: #FFB400;
}
.main_menu .button {
  padding: 0px 32px;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: baseline;
  background: #FFB400;
  border-radius: 5px;
}
.main_menu .button .hire_me_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #2B2B2B;
}

.my_services {
  margin: 0 auto;
  max-width: 970px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.my_services .my_services_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my_services .my_services_head .services_text {
  margin-bottom: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2B2B2B;
}
.my_services .my_services_head .services_text_body {
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  width: 45%;
}
.my_services .my_services_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.my_services .my_services_body .services_sections {
  background-color: #FFFFFF;
  border-style: none;
  width: 310px;
  height: 225px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}
.my_services .my_services_body .services_sections .service_text_section {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 10px;
}
.my_services .my_services_body .services_sections .service_description_section {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #767676;
  margin: -6px;
}
.my_services .my_services_body .services_sections .service_img {
  width: 15%;
  height: auto;
}

.education {
  margin: 0 auto;
  max-width: 970px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
.education .education_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.education .education_head .education_text {
  margin-bottom: 0px;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.education .education_head .education_text_body {
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  width: 45%;
}
.education .education_body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.education .education_body .education_sections {
  display: flex;
  padding: 15px;
  background-color: #FFFFFF;
}
.education .education_body .education_sections .left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.education .education_body .education_sections .left .title {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #2B2B2B;
  margin: 10px;
  margin-left: 30px;
}
.education .education_body .education_sections .left .description {
  display: inline;
  color: #767676;
  font-size: 15px;
  margin: 10px;
  margin-left: 30px;
}
.education .education_body .education_sections .left .date_time {
  display: inline;
  background-color: #FFB400;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100.9%;
  color: #FFFFFF;
  margin-left: 10px;
  padding: 2px;
}
.education .education_body .education_sections .right {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.education .education_body .education_sections .right .title {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #2B2B2B;
  margin: 10px;
  margin-left: 30px;
}
.education .education_body .education_sections .right .description {
  display: inline;
  color: #767676;
  font-size: 15px;
  margin: 10px;
  margin-left: 30px;
}
.education .education_body hr {
  background-color: #F0F0F6;
  width: 901px;
  margin: 0 auto;
}