@import "Variables"

.ellipse_15
  position: relative
  box-sizing: border-box
  display: block
  width: 16px
  height: 18.22px
  left: 40px
  top: 34.17px
  border: 2px solid rgba(255, 180, 0, 0.8)
  border-radius: 50%
  z-index: 5

.ellipse_12
  position: relative
  box-sizing: border-box
  display: block
  width: 16px
  height: 18.22px
  left: 520px
  top: 59.23px
  border: 2px solid rgba(5, 255, 0, 0.8)
  border-radius: 50%
  z-index: 5

.ellipse_16
  position: relative
  box-sizing: border-box
  display: block
  width: 16px
  height: 18.22px
  left: 88px
  top: 451.64px
  border: 2px solid rgba(5, 255, 0, 0.8)
  border-radius: 50%
  z-index: 5

.ellipse_13
  position: relative
  box-sizing: border-box  
  display: block
  width: 16px
  height: 18.22px
  left: 557.86px
  top: 432.77px
  border: 2px solid rgba(255, 180, 0, 0.8)
  border-radius: 50%
  z-index: 5

.rectangle_51
    position: relative
    display: block
    box-sizing: border-box
    width: 16.45px
    height: 17.82px
    right: -855.44px
    top: 79.34px
    border: 2px solid rgba(255, 180, 0, 0.8)
    transform: matrix(0.87, 0.49, -0.39, 0.92, 0, 0)
    z-index: 5

.rectangle_52
    position: relative
    display: block
    box-sizing: border-box
    width: 16.45px
    height: 17.82px
    left: 373.8px
    top: 379.28px
    border: 2px solid rgba(0, 71, 255, 0.8)
    transform: matrix(0.87, 0.49, -0.39, 0.92, 0, 0)
    z-index: 5

.polygon_1
  display: block
  position: relative
  box-sizing: border-box
  width: 16px
  height: 18.22px
  left: 857px
  top: 400.34px
  border-left: 9px solid transparent
  border-right: 9px solid transparent
  border-bottom: 10px solid red
  z-index: 5

body
  background-color: $LightGray1

.main
   margin: 0 auto
   max-width: 970px
   

.main_menu
  margin: 0 auto
  max-width: 970px
  background: $White
  border: 1px black solid
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  position: absolute
  top: 0
  margin-top: 20px

  .main_menu_col-1
    display: flex
    flex-direction: column
    margin-left: 60px
    margin-top: 105.95px

  .menu_title
    margin: 0px
    max-width: 500px
    font-family: 'Inter'
    font-style: normal
    font-weight: 700
    font-size: 48px
    line-height: 123.6%

    color: $Dark1

    .colorful_text
      color: $Orange1

  .menu_text
    width: 424px
    height: 100.23px
    left: 60px
    top: 260.82px
    margin: 0px
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px
    text-transform: capitalize
    font-feature-settings: 'calt' off, 'kern' off
    color: $Gray

  .your_image
    width: 325.72px
    height: auto
    left: 586.68px
    top: 9.11px
    

  // .button
  //   display: flex
  //   flex-direction: column
  //   align-items: flex-start
  //   padding: 0px

  //     
  //   width: 154px
  //   height: 58.09px
  //   left: 60px
  //   top: 389.53px

  //   // .button_image
  //   //   background: url(Icons_and_Images/Hire_me.png)
  .hire_me
     background: #FFB400

  .button
    padding:  16px 32px
    gap: 10px
    width: fit-content
    color: black
    text-decoration: none
    display: flex
    align-items: baseline
    background: #FFB400
    border-radius: 5px
    


    .hire_me_text
      font-family: 'Inter'
      font-style: normal
      font-weight: 500
      font-size: 18px
      line-height: 19px
      color: #2B2B2B
